<%= image_tag("flickr.jpeg") %>
<h1> Busqueda de fotos: by flickr </h1>

<%= form_tag(:photo) do %>
<%= label_tag(:url, "Ingrese el TAG:") %>
<%= text_field_tag(:url) %> <br />
<%= label_tag(:numero, "Imagenes por pagina:") %>
<%= text_field_tag(:numero) %> <br />
<%= submit_tag("Enviar") %>
<% end %>