<!DOCTYPE html>
<html>
<head>
  <title>FlickrAaron</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'flickr' %> 
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
